.lead{
    background-color:#181A19;
    display: flex;
}

.lead__container{
    max-width: 984px;
    margin: auto;
}

.lead__image {
width: 984px;
height: 615px;
}

.lead__title {
font-weight: 900;
font-size: 96px;
line-height: 100px;
color: #FFFFFF;
margin: 0;
text-align: center;
}

.lead__subtitle {
font-weight: 400;
font-size: 30px;
line-height: 36px;
color: #FFFFFF;
padding-top: 32px;
padding-bottom: 64px;
margin: 0;
text-align: center;
}

.lead__caption {
font-weight: 400;
font-size: 10px;
line-height: 14px;
color: #FFFFFF;
margin: 0;
}

.photo-grid {
background-color:#181A19;
padding-top: 92px;   
padding-bottom: 92px; 
}

.photo-grid__columns {
    display: grid;
    gap: 16px;
    margin: auto;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    list-style: none;
    max-width: 1184px;
}

.cover {
background-color:#181A19; 
overflow: hidden;
}

.cover__background{
max-width: 1184px;
max-height: 740px;
margin: auto;
position: relative;
}

.overlay::after {
content: "";
display: block;
position: absolute;
top: 0;
right: 0;
left: 0;
bottom: 0;
background-color: rgb(0, 0, 0, 0.3);
z-index: 0;
}

.overlay:hover::after {
background-color: rgb(0, 0, 0, 0.8);
}

.cover__title {
font-weight: 900;
font-size: 72px;
line-height: 76px;
text-align: center;
margin: 0;
color: #FFFFFF;
max-width: 560px;
position: absolute;
top: 245px;
left: 312px;
z-index: 1;
}

.cover__subtitle {
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin: 0;
text-align: center;
color: #FFFFFF;
max-width: 360px;
position: absolute;
bottom: 245px;
left: 412px;
z-index: 1;
padding-top: 32px;
}

.cover__image{
position: relative;
}