.cover__overlay {
    background-image: url(../../../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1184px;
    max-height: 740px;
    transition: opacity 0.3s ease;
}

.cover__overlay::before {
    Opacity: 0.3;
}

.cover__overlay:hover {
    opacity: 0.8;
}