.photo-grid__columns {
    display: grid;
    gap: 16px;
    margin: auto;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    list-style: none;
    max-width: 1184px;
}

@media screen and (max-width: 1024px) {
    .photo-grid__columns {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-template-rows: repeat(4, minmax(100px, 1fr));
    }
} 

@media screen and (max-width: 768px) {
    .photo-grid__columns {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: repeat(6, minmax(100px, 1fr));
    }
} 

@media screen and (max-width: 320px) {
    .photo-grid__columns {
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        grid-template-rows: repeat(12, minmax(100px, 1fr));
    }
} 