.photo-grid__columns {
    display: grid;
    gap: 16px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    list-style: none;
    max-width: 1184px;
    padding: 0;
}