.overlay{
    background-image: url(/image/__background.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.3s easy;
    width: 100%;
       }
   
   .overlay:hover {
       opacity: 0.3;
           }
