.overlay::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.3);
    z-index: 0;
    }
    
    .overlay:hover::after {
    background-color: rgb(0, 0, 0, 0.8);
    }