.overlay{
    background-image: url(../../image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 0.3s easy;
    padding-top: 15%;
    padding-bottom: 15%;
       }
   
   .overlay:hover {
       opacity: 0.3;
           }
