.intro__container {
    padding-top: 88px;
    padding-bottom: 92px;
    margin: auto;
    margin-right: auto;
    padding-left: 148px;
}

@media screen and (max-width: 1024px) {
    .intro__container {
        padding-right: 44px;
    }
} 

@media screen and (max-width: 800px) {
    .intro__container {
        padding-right: 0;
    }
} 

@media screen and (max-width: 768px) {
    .intro__container {
        padding-right: 88px;
    }
} 

@media screen and (max-width: 320px) {
    .intro__container {
        padding-right: 64px;
    }
} 


