.footer__copyright {
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
    padding-right: 20px;
}

@media screen and (max-width: 1024px) {
    .footer__copyright {
        min-width: 186px;
        padding-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        padding-top: 42px;
    }
}