.lead__image {
    max-width: 984px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        max-height: 580px;
    }
}

@media screen and (max-width: 950px) {
    .lead__image {
        max-width: 800px;
    }
}

@media screen and (max-width: 800px) {
    .lead__image {
        max-width: 760px;
    }
}

@media screen and (max-width: 765px) {
    .lead__image {
        max-width: 315px;
        margin: auto;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        max-width: 319px;
    }
}