.intro__text {
    font-family: 'Inter', 'Arial', 'Helvetica';
    font-weight: 400;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
    padding-bottom: 33px;
    margin: 0;
    max-width: 690px;
    }

    @media screen and (max-width: 768px) {
        .intro__text {
            max-width: 720px;
            padding-left: 0px;
        }
    } 

    @media screen and (max-width: 320px) {
        .intro__text {
            padding-bottom: 34px;
            margin: auto;
            max-width: 288px;
        }
    } 