.cover {
    padding-top: 98px;
    padding-bottom: 97px;
}

@media screen and (max-width: 1024px) {
    .cover {
        padding-top: 91px;
        padding-bottom: 97px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding-top: 70px;
        padding-bottom: 90px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        padding-top: 60px;
        padding-bottom: 64px;
    }
}