.cover {
    background-color: #2A2C2F;
    padding-top: 98px;
    padding-bottom: 97px;
}

@media screen and (max-width: 1024px) {
    .cover {
        padding-top: 91px;
        padding-bottom: 98px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        padding-top: 90px;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        padding-top: 66px;
        padding-bottom: 64px;
    }
}