.cover__image {
    background-image: url(../../../images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1184px;
}

.cover__image::before {
    content: "";
    background-color: rgba(42, 44, 47, 0.3);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.cover__image:hover::before {
    background-color: rgba(42, 44, 47, 0.8);
}