.places__place {
    max-width: 959px;
    display: grid;
    grid-template-areas:
        "title website"
        "image container";
    margin: auto;
    column-gap: 40px;
    padding-bottom: 80px;
}

.places__place:last-of-type {
    padding-bottom: 0px;
}

@media screen and (max-width: 1024px) {
    .places__place {
        max-width: 928px;
        column-gap: 31px;
    }
}

@media screen and (max-width: 768px) {
    .places__place {
        max-width: 720px;
    }
}

@media screen and (max-width: 600px) {
    .places__place {
        max-width: 320px;
        grid-template-areas:
            "title"
            "website"
            "image"
            "container";
        padding-bottom: 50px;
    }

    .places__place:last-of-type {
        padding-bottom: 66px;
    }
}