.places__place {
    max-width: 984px;
    display: grid;
    grid-template-areas:
    "title website"
    "image paragraph";
    margin: auto;
    column-gap: 40px;
    padding-bottom: 84px;
}

.places__place:last-of-type {
    padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .places__place {
        max-width: 928px;
    }
} 

@media screen and (max-width: 768px) {
    .places__place {
        max-width: 720px;
    }
} 

@media screen and (max-width: 600px) {
    .places__place {
        max-width: 320px;
        grid-template-areas:
    "title" 
    "website"
    "image" 
    "paragraph";
    padding-bottom: 50px;
    }
    .places__place:last-of-type {
        padding-bottom: 66px;
    }
}