.cover__background {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 1184px;
    text-decoration: none;
    background-image: url(../../images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    }

    @media screen and (max-width: 1024px) {
        .cover__background {
            max-width: 1024px;
        }
    } 

    @media screen and (max-width: 768px) {
        .cover__background {
            max-width: 768px;
        }
    } 

    @media screen and (max-width: 320px) {
        .cover__background {
            max-width: 320px;
        }
    } 