.places__website {
    grid-area: website;
    align-self: center;
    padding-bottom: 49px;
}

@media screen and (max-width: 1024px) {
    .places__website {
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .places__website {
        padding-right: 28px;
    }
}

@media screen and (max-width: 600px) {
    .places__website {
        padding-bottom: 32px;
        padding-left: 16px;
    }
}